node_modules
.vscode
dist
.env
.next
build
.DS_Store
coverage
.idea
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp.*
.cache
*.local
*.log
*.tsbuildinfo
out
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel
.now
firebase-debug.log
firebase-errors.log
*.iml
logs
*.swp
*.swo
*.bak
*.orig
*.rej
*.sublime-workspace
bin/
obj/
*.class
*.war
*.jar
*.pyc
__pycache__/
*.sqlite3
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/
*.code-workspace
*.db
*.db-journal
thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.pdb
*.lib
*.obj
*.exe
*.dll
*.app
*.iws
*.iml
*.ipr
*.class
*.log
tree.sh
./tree.sh